{% extends 'account/base.html' %}
{% block title %}About{% endblock %}

{% block content %}
<div class="text-center" style="margin:20px;">
<br>
    <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/60471254_2461098540576077_3051113512601387008_o.jpg?_nc_cat=111&_nc_sid=8bfeb9&_nc_ohc=n9ASMpfKBsYAX9kwNsu&_nc_ht=scontent-iad3-1.xx&oh=1397353418f0ba7be7867d6697ff2781&oe=5F725A9B" class="img-rounded abt_image" alt="Person images">
     <h2>Mr. Some Body</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    A accusantium autem deleniti distinctio earum eius,
    eum ex facilis illo illum ipsum molestiae mollitia provident
    quia quibusdam recusandae sit vel voluptates.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    A accusantium autem deleniti distinctio earum eius,
    eum ex facilis illo illum ipsum molestiae mollitia provident
    quia quibusdam recusandae sit vel voluptates.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    A accusantium autem deleniti distinctio earum eius,
    eum ex facilis illo illum ipsum molestiae mollitia provident
    quia quibusdam recusandae sit vel voluptates.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    A accusantium autem deleniti distinctio earum eius,
    eum ex facilis illo illum ipsum molestiae mollitia provident
    quia quibusdam recusandae sit vel voluptates.
</p>



</div>

{% endblock %}