{% extends 'account/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row" style="margin:100px 20px;">
<div class="col-sm-6">
  <br>  <br>  <br>  <br> <br>  <br>
  <br>
  <h1 class="text-uppercase text-center">This is my homepage</h1>
</div>
<div class="col-sm-6">
  <img width=100% class="mx-auto d-block" id="home_img" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/109715281_10217945297926865_4070745609851219091_n.jpg?_nc_cat=105&_nc_sid=09cbfe&_nc_ohc=06QsvbpS-dwAX_cHgcO&_nc_ht=scontent-iad3-1.xx&oh=5e3a2224c45a8210398f96f8bd11a5d7&oe=5F741B15" alt="Picture could not load">
</div>
</div>

{% endblock %}